{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <a href="{{ path('admin_blogs') }}">Manage posts</a>
    <a href="{{ path('admin_users') }}">Manage users</a>
{% endblock %}
